/* - - - - FOOTER - - - -  */

footer{
    margin-bottom: 88px;
}

.footer__container {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #2C343E;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__bottom-link {
    margin-right: -350px;
}

.footer__bottom-img {
    width: 235px;
    height: 25px;
}

.footer__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__item:nth-child(2) {
    margin-right: 32px;
    margin-left: 32px;
}

.footer__item-link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}

.footer__item-link:hover{
    color: #FEFCF7;
}

.footer__item-link:active{
    opacity: 0.8;
 }

.footer__list2 {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__item2:nth-child(2) {
    margin-right: 24px;
    margin-left: 24px;
}

.footer__item2-img {
    width: 24px;
    height: 24px;
}

.footer__item2-img:hover{
    background-color: #FDD6BA;
}

.footer__item2-img:active{
   opacity: 0.5;
}