/* - - - - FOOTER - - - -  */

.footer{
    margin-bottom: 88px;


    &__container {
        padding-top: 48px;
        padding-bottom: 48px;
        background-color: #2C343E;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__bottom-link {
        margin-right: -350px;
    }

    &__bottom-img {
        width: 235px;
        height: 25px;
    }

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item:nth-child(2) {
        margin-right: 32px;
        margin-left: 32px;
    }

    &__item-link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        text-decoration: none;
    }

    &__item-link:hover{
        color: #FEFCF7;
    }

    &__item-link:active{
        opacity: 0.8;
    }

    &__list2 {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item2:nth-child(2) {
        margin-right: 24px;
        margin-left: 24px;
    }

    &__item2-img {
        width: 24px;
        height: 24px;
    }

    &__item2-img:hover{
        background-color: #FDD6BA;
    }

    &__item2-img:active{
        opacity: 0.5;
    }

}