/* - - - - HEADER - - - -  */

.header{
    padding-top: 44px;


    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 44px;
    }

    &__link-img {
        width: 236px;
        height: 26px;
    }

    &__nav-list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__nav-item:nth-child(2) {
        margin-right: 32px;
        margin-left: 32px;
    }

    &__nav-link{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        text-decoration: none;
    }

    &__nav-link:hover{
        color: #333D4B;
    }
    &__nav-link:active{
        opacity: 0.5;
    }

}