/* - - - - MAIN - - - - */

.hero{


    &__container {
        background-image: url(./../images/Bitmap.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 1280px;
        height: 600px;
        padding-top: 117px;
        padding-bottom: 117px;
        padding-left: 85px;
        margin-bottom: 136px;
    }

    &__heading {
        width: 493px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        margin: 0;
        margin-bottom: 32px;
    }

    &__text {
        width: 440px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin: 0;
        margin-bottom: 55px;
    }

    &__button {
        width: 217px;
        background: #0E8784;
        border-radius: 6px;
        padding: 15px 31px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
    }

    &__button:hover{
        background: #66D2CF;
        border-radius: 6px;
    }

    &__button:active{
        background: #E2DEDB;
        border-radius: 6px;
    }

}


.coffe{


    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: 126px;
        background-image: url(./../images/Group30.svg );
        background-repeat: no-repeat;
        /* position: absolute; */
        background-position: 50% 0%;
        /* top: 0;
        left: 0; */
        margin-bottom: 180px;
    }

    &__item:nth-child(2) {
        margin-left: 21px;
        margin-right: 28px;
    }

    &__item:nth-child(4){
        margin-left: 30px;
    }

    &__item-img {
        width: 265px;
        height: 193px;
        margin-bottom: 71px;
    }

    &__heading {
        width: 255px;
        margin: 0;
        padding: 0;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
        margin-bottom: 24px;
    }

    &__item-text {
        width: 255px;
        margin: 0;
        padding: 0;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }

}


.why {
    background-color: #2C343E;
    border-radius: 10px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 351px;


    &__heading {
        width: 329px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
    }

    &__text {
        width: 528px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin: 0;
        padding: 0;
        /* margin-bottom: 88px; */

    }

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        justify-content: space-between;
        position: absolute;
        top: 150px;
        left: 0;
        position: relative;
    }

    &__item {
        width: 350px;
        padding: 72px 48px 48px 48px;
        background-color: #0E8784;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__item:nth-child(2){
        margin-right: 30px;
        margin-left: 30px;
    }

    &__item-img {
        width: 72px;
        height: 72px;
        margin-bottom: 56px;
    }

    &__item__heading {
        width: 255px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;
        margin: 0;
        padding: 0;
        margin-bottom: 24px;
    }

    &__item-text {
        width: 255px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        margin: 0;
        padding: 0;
    }

}

.how {
    margin-bottom: 200px;


    &__heading {
        width: 255px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin: 0;
        margin-bottom: 80px;
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-bottom: 64px;
    }

    &__item {
        width: 380px;
        padding-right: 95px;
        position: relative;
        padding-top: 98px;
    }

    &__item::before{
        content: "";
        display: inline-block;
        width: 31px;
        height: 31px;
        background-color: #FEFCF7;
        border: 2px solid #0E8784;
        border-radius: 50%;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    &__item::after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: rgba(253, 214, 186, 1);
        position: absolute;
        /* border: 2px solid #FDD6BA; */
        top: 15.5px;
    }

    &__item:last-child::after {
        display: none;
    }

    &__item-nomber {
        width: 90px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
        margin: 0;
        margin-bottom: 32px;
    }

    &__item-heading {
        width: 215px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
        margin: 0;
        margin-bottom: 42px;
    }

    &__itrem-text {
        width: 280px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin: 0;
    }

    &__link {
        background-color: #0E8784;
        border-radius: 6px;
        padding: 15px 31px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        text-decoration: none;
    }

    &__link:hover{
        background-color: #66D2CF;
    }

    &__link:active{
        opacity: 0.5;
    }

}

//  - - - - ABOUT - - - -

.about {
    background-image: url(../../images/abouti-mg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1280px;
    height: 450px;
    border-radius: 10px;
    padding-top: 137px;
    padding-bottom: 137px;
    padding-left: 85px;
    margin-bottom: 168px;


    &__heading {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin: 0;
        margin-bottom: 24px;
    }

    &__text {
        width: 445px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        margin: 0;
    }

}

.our {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;


    &__img {
        width: 445px;
        height: 520px;
    }

    &__right-heading {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #333D4B;
        margin: 0;
        margin-bottom: 32px;
    }

    &__right-text {
        width: 538px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin: 0;
    }

}

.quality {
    display: flex;
    background-color: #2C343E;
    border-radius: 10px;
    padding-top: 88px;
    padding-left: 85px;
    margin-bottom: 168px;


    &__left-heading {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin: 0;
        margin-bottom: 32px;
    }

    &__left-text {
        width: 540px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin: 0;
    }

    &__img {
        width: 445px;
        height: 474px;
        position: absolute;
        // top: -180px;
        // left: 92px;
        right: -92px;
        top: calc(-165px);
        position: relative;
    }

}

.city {
    margin-bottom: 168px;


    &__heading {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin: 0;
        margin-bottom: 72px;
    }

    &__list {
        display: flex;
        // justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;

    }

    &__item {
        padding-top: 56px;
    }

    &__item::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../images/Combined-Shape.svg);
        top: 0;
        margin-bottom: 45px;
        // position: absolute;
    }

    &__item:nth-child(2):before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../images/Combined-Shape1.svg);
        top: 0;
        margin-bottom: 45px;
        // position: absolute;
    }

    &__item:nth-child(3):before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../images/Combined-Shape2.svg);
        top: 0;
        margin-bottom: 45px;
        // position: absolute;
    }

    &__item:nth-child(2) {
        margin-right: 95px;
        margin-left: 95px;
    }

    &__item-heading {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
        margin: 0;
        margin-bottom: 24px;
    }

    &__item-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item-item {
        width: 285px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }

}

.plan {
    background-image: url(../../images/Bitmapn42.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1280px;
    height: 450px;
    border-radius: 10px;
    padding-top: 134px;
    padding-bottom: 134px;
    padding-left: 85px;
    margin-bottom: 164px;

    &__heading {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        margin: 0;
        margin-bottom: 32px;
    }

    &__text {
        width: 445px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin: 0;
    }

}

.pisk {
    background-color: #2C343E;
    border-radius: 10px;
    padding-top: 106px;
    padding-bottom: 109px;
    padding-left: 85px;
    margin-bottom: 159px;

    &__list {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-bottom: 64px;
    }

    &__item {
        width: 380px;
        padding-right: 95px;
        position: relative;
        padding-top: 98px;
    }

    &__item::before{
        content: "";
        display: inline-block;
        width: 31px;
        height: 31px;
        background-color: #FEFCF7;
        border: 2px solid #0E8784;
        border-radius: 50%;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    &__item::after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: rgba(253, 214, 186, 1);
        position: absolute;
        /* border: 2px solid #FDD6BA; */
        top: 15.5px;
    }

    &__item:last-child::after {
        display: none;
    }

    &__item-nomber {
        width: 90px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
        margin: 0;
        margin-bottom: 32px;
    }

    &__item-heading {
        width: 215px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #FEFCF7;
        margin: 0;
        margin-bottom: 42px;
    }

    &__itrem-text {
        width: 280px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        margin: 0;
    }

}

.how2{
    background-color: #2C343E;
    border-radius: 10px;
    padding-top: 106px;
    padding-bottom: 109px;
    padding-left: 85px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    /* Retina-specific stuff here */
    .hero__container {
        background-image: url(../../images/great-img2@2x.png);
    }

    .about{
        background-image: url(../../images/about-img2@2x.png);
    }

    .plan{
        background-image: url(../../images/Bitmapn42@2x.png);
    }

}


.page {
    display: flex;
    justify-content: space-between;



    &__left-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: sticky;
        top: 20px
    }

    &__left-item {
        max-width: 255px;
        border-bottom: 2px solid rgba(131, 136, 143, 0.25);

    }

    &__item-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        padding-top: 24px;
        opacity: 0.4;

        &:hover{
            opacity: 1;
        }
    }

    &__item-nember {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin: 0;
        margin-right: 25px;
    }

    &__item-text {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        margin: 0;
    }

    &__right-box {
        margin-bottom: 88px;

    }

    &__box-hero {
        display: flex;
        justify-content: space-between;
    }

    &__hero-heading {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #83888F;
        margin: 0;
    }

    &__hero-button {
        border: none;
        margin-bottom: 56px;
    }

    &__hero-img {
        max-width: 18px;
        max-height: 12px;

    }

    &__box-list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

    }

    &__box-item {
        max-width: 228px;
        // max-height: 250px;
        padding: 32px 28px 84px 28px;
        background-color: #F4F1EB;
        border-radius: 8px;

        &:hover{
            background-color: #FDD6BA;
        }

        &:active{
            background-color: #0E8784;
        }


        &:nth-child(2){
            margin-right: 23px;
            margin-left: 23px;
        }

    }

    &__box-heading {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        margin: 0;
        margin-bottom: 24px;

        &:active{
            color: #FFFFFF;
        }
    }

    &__box-text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin: 0;

        &:active{
            color: #FFFFFF;
        }
    }
}

.page2{
    // max-width: 730px;
    display: flex;
    flex-direction: column;
    align-items: end;

    &__right-batton {
        max-width: 730px;
        margin-bottom: 168px;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    &__batton {
        padding: 27px 64px;
        background-color: #2C343E;
        margin-bottom: 40px;
    }

    &__batton-span {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 8px;
    }

    &__batton-text {
        max-width: 505px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;
        margin: 0;
    }

    &__text-span {
        color: #0E8684;
    }

    &__batton-button{
        width: 217px;
        padding: 15px 35px;
        background-color: #0E8784;
        border-radius: 6px;
        border: none;
        padding: 15px 35px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;

        &:hover{
            background-color: #66D2CF;
        }

        &:active{
            background-color: #E2DEDB;
        }
    }
}